.bug-index header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 1em;
    border-block-end: 1px solid lightgray;
}

.btn-pagination {
    place-self: center;
}

button i {
    transition: transform 0.2s ease-in-out;
}
button:active i {
    transform: scale(1.2);
}
